.container {
    margin-top: 10vh;
}

.card-footer {
    background-color: rgba(158, 151, 139, 0.5);
    font-size: 1.1em;
}

.chartBox {
    height: 2vh;
    margin-top: 8em;
}

.chartBox1 {
    height: 2vh;
    margin-top: 35em;
}

.diagramBlock{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}